.achievement {
    padding-bottom: 112px;
    
    &__describe {
        position: relative;
        top: 0;
        right: 0;
    }

    &__subtilte {
        color: $black;
        max-width: 738px;

        padding-bottom: 56px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__img {
        display: block;
        max-width: 883px;
    }
}
.text.achievement-text::after {
    left: 125px;
}

@media (max-width:1025px) {
    .achievement__inner {
        position: relative;
        display: block;
    }

    .achievement__describe {
        position: absolute;
        top: -39px;
        right: 160px;
    }
}

@media (max-width:845px) {
    .achievement__describe {
        right: 43px;
    }

    .text--sm {
        padding: 64px 0 36px;
    }
}

@media (max-width:737px) {
    .achievement {
        padding-bottom: 49px;
    }
}

@media (max-width:415px) {

    .achievement__describe {
        display: none;
    }
}

@media (max-width:391px) {
    
    .subtitle.achievement__subtilte {
        line-height: 42.2px
    }
}