.btn {
    display: block;

    background-color: $PrimaryBlue;
    padding: 14px 32px;
    font-weight: 500;
    line-height: 21px;

    color: #fff;

    transition: background-color .2s linear;
}

.btn:hover {
    background-color: darken($PrimaryBlue, 10%);
}

