.burger {
    position: relative;
    width: 38px;
    height: 23px;

    padding: 0;
    margin: 0;

    display: none;

    background: none;
    border: 0;
    right: 30px;
    top: 50%;

    color: transparent;
    font-size: 0;

    cursor: pointer;

    &__line {
        display: block;
        width: 38px;
        height: 3px;
        margin: 4px 0;

        background-color: $darcgray;
    }

    &__line:nth-child(1) {
        width: 20px;
        margin-left: auto;
    }
}

.burger:focus {
    outline: none;
}



.burger.active
.burger__line:nth-child(1),
.burger.active
.burger__line:nth-child(3) {
    display: none;
}

.burger.active
.burger__line:nth-child(2),
.burger.active
.burger__line:nth-child(4) {
    position: absolute;
    top: 50%;
    left: 0;

    transform-origin: center;
}

.burger.active
.burger__line:nth-child(2) {
    transform: rotate(45deg);
}

.burger.active
.burger__line:nth-child(4) {
    transform: rotate(-45deg);
}

@media (max-width: 1050px) {

    .burger {
        display: block;
    }
}

@media (max-width:321px) {

    .burger {
        right: 6px;
        width: 30px;
    }

    .burger__line:nth-child(1) {
        margin-left: auto;
    }

    .burger__line:nth-child(2),
    .burger__line:nth-child(3),
    .burger__line:nth-child(4) {
        width: 31px;
        height: 2px;
        margin: 3px 0;
    }
}