.design {
    padding: 5.4rem 0 160px;

    position: relative;

    &__copyrigth {
        position: absolute;
        font-weight: 500;
        color: $darcgray;
        transform: rotate(-90deg);

        top: 280px;
        right: -61px;
    }
}

.design-img {
    display: block;
    width: 100%;
    height: 513px;
}

.title-design {
    position: relative;

    font-size: 4rem;
    font-weight: 700;
    line-height: 100.8px;
    color: $darcgray;
    max-width: 37.8rem;
    padding-bottom: 50px;
}

.title-design::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: black;
    max-width: 683px;
    right: -100%;
    left: 76%;
    top: 58px;
    z-index: 0;
}

.describe {
    position: absolute;

    top: 250px;
    right: 142px;
    width: 252px;
    height: 525px;
    background-color: $PrimaryBlue;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 55px;
        padding-top: 40px;
    }

    &__item-text {
        font-size: 2.89rem;
        line-height: 83.2px;
        font-weight: 400;
        color: #fff;
    }

    &__item-text span {
        font-size: .8rem;
        line-height: 25.6px;
    }
}

@media (max-width:1025px) {

    .design {
        padding: 5.4rem 0 87px;
    }

    .title-design {
        line-height: 86.8px;
    }

    .title-design::after {
        max-width: 465px;
        top: 48px;
    }

    .describe {
        top: 351px;
        height: 475px;
    }

    .describe__list {
        gap: 25px;
    }
}

@media (max-width:769px) {

    .title-design {
        font-size: 3rem;
        line-height: 70.8px;
        max-width: 25.8rem;
        padding-bottom: 46px;
    }

    .title-design::after {
        max-width: 372px;
        top: 40px;
    }

    .design__copyrigth {
        top: 222px;
    }

    .describe {
        top: 292px;
        right: 74px;
        height: 447px;
    }

    .describe__list {
        gap: 23px;
        padding-top: 20px;
    }
}

@media (max-width:737px) {

    .title-design {
        font-size: 2.8rem;
        line-height: 58.8px;
    }

    .title-design::after {
        left: 71%;
        top: 30px;
    }

    .design__copyrigth {
        font-size: 16px;
        top: 205px;
    }

    .describe {
        height: 394px;
        width: 215px;
        right: 54px;
    }

    .describe__list {
        gap: 0;
    }

    .describe__item-text {
        font-size: 2.5rem;
    }

    .describe__item span {
        font-size: 17px;
    }

}

@media (max-width:668px) {
    .describe {
        top: 226px;
    }

    .title-design {
        font-size: 2.6rem;
    }
    .title-design::after {
        display: none;
    }
    .design__copyrigth {
        top: 142px;
    }

}

@media (max-width:569px) {

    .design {
        padding: 2.1rem 0 51px;

        &__copyrigth {
            display: none;
        }
    }

    .title-design {
        font-size: 2.2rem;
        line-height: 51.8px;
        max-width: 27.8rem;
    }

    .describe {
        top: 143px;
        right: 23px
    }
}

@media (max-width:321px) {

    .title-design {
        font-size: 2rem;
        line-height: 44.8px;
        max-width: 100%;
    }
    
    .design-img {
        width: 100%;
        height: 100%;
    }

    .describe {
        display: none;
    }
}