.footer {
    margin-top: auto;

    &__inner {
        background-color: $PrimaryBlue;

        margin-bottom: 4.4rem;
    }

    &__top {
        display: flex;
        align-items: center;
        height: 11.3rem;

        gap: 115px;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__bottom-right-text {
        color: $darcgray;
        position: relative;
        padding-left: 20px;
        padding-bottom: 23px;
    }

    &__bottom-right-text::before {
        content: '';
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $darcgray;
        position: absolute;
        left: 0;
        top: 26%;
        transform: translateY(-50%);
    }

    &__bottom-left {
        max-width: 480px;
        padding-bottom: 129px;
    }

    &__bottom-social {
        padding: 40px 0 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        
    }

    &__input {
        display: block;
        width: 100%;
        max-width: 440px;
        padding-bottom: 15px;

        background: none;
        border: none;
        border-bottom: 1px solid #141414;

        font-family: 'Poppins';
        font-size: .89rem;
        font-weight: 400;
        color: $Lightgray;

        position: relative;
    }

    &__bottom-right-text::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 23px;
        height: 9px;
        background: url('../images/arrow-footer.png');
        background-repeat: no-repeat;
        background-size: contain;
        right: 0;
        color: black;
        top: 57px;
        cursor: pointer;
        z-index: 1;
    }

    &__input:placeholder {
        color: #ffff;
    }

    &__input:focus {
        outline: none;
        border-bottom-color: $PrimaryBlue;
    }

    &__top-left {
        max-width: 61%;
    }

    &__btn {
        background-color: #fff;
        color: $darcgray;
    
        transition: background-color .2s linear;
    }

    &__btn:hover {
        background-color: darken(#fff, 20%);
    }
}

.left__text {
    font-size: 2rem;
    line-height: 61.2px;
    font-weight: 600;
    color: #fff;
}

.right {
    display: flex;
    flex-wrap: wrap;
    max-width: 39%;

    &__text {
        padding-bottom: 1.1rem;
        line-height: 28px;
    }
}

.social__icon {
    display: flex;
    gap: 25px;
}

.social__icon-link {
    position: relative;
}

.social__icon-link::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $Lightgray;
    left: -6px;
    z-index: -1;
    top: -5px;

    transition: box-shadow .2s linear;
}

.social__icon-link:hover::after {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 0px 3px 2px;
}

.social-text {
    padding-bottom: 11px;
    padding-right: 40px;
}

@media (max-width:845px) {
    .footer__top {
        gap: 33px;
    }

    .left__text {
        line-height: 47.2px;
    }

    .st {
        line-height: 46.2px;
    }

    .footer {

        &__inner {
            margin-bottom: 1.4rem;
        }

        &__input {
            font-size: 13px;
        }

        &__bottom-left {
            padding-bottom: 23px;
        }

        &__bottom-right-text {
            font-size: 16px;
            padding-bottom: 9px;
        }
    
        &__bottom-right-text::after {
            top: 44px;
        }
    
        &__bottom-social {
            padding: 18px 0 26px;
        }
    }
    
}

@media (max-width:769px) {

    .footer {
        &__bottom-right-text {
            font-size: 12px;
        }

        &__input {
            font-size: 11px;
        }
    }
}

@media (max-width:737px) {

    .footer {

        &__top {
            gap: 57px;
        }

        &__inner {
            margin-bottom: 2.6rem;
        }
    
        &__bottom-left {
            max-width: 380px;
        }

        &__bottom-right-text {
            padding-bottom: 4px;
        }
    
        &__bottom-right-text::after {
            top: 70px;
        }
    
        &__bottom-social {
            align-items: center;
            padding: 15px 0 26px;
        }
    
        &__bottom-right-text::after {
            top: 22px;
        }
    }

    .st {
        line-height: 44.2px;
    }

    .left__text {
        line-height: 44.2px;
    }
}

@media (max-width:668px) {

    .footer__top {
        gap: 28px;
    }

    .footer__bottom-left {
        padding-bottom: 49px;
    }

}

@media (max-width:569px) {

    .left__text {
        font-size: 1.6rem;
    }

    .footer__bottom {
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer__bottom-left {
        max-width: 100%;
    }

    .footer__bottom-right {
        width: 100%;
    }

    .footer__bottom-right-text::after {
        top: 30px;
        right: 99px;
    }

    .footer__bottom-right-text::before {
        top: 44%;
    }
}

@media (max-width:415px) {

    .footer {
        &__input {
            width: 74%;
        }

        &__bottom-right-text::after {
            top: 27px;
        }

        &__bottom-left {
            padding-bottom: 31px;
        }

        &__top {
            display: block;
            height: 17.3rem;
            gap: 0;
        }

        &__top-left {
            max-width: 100%;
            padding: 10px 0 25px;
        }

        &__btn {
            margin: 0 auto;
        }
    }

    .right {
        max-width: 100%;
    }

    .st {
        font-size: 1.7rem;
    }
}

@media (max-width:391px) {

    .left__text {
        font-size: 1.5rem;
    }

    .st {
        font-size: 1.6rem;
    }

    .left__text {
        line-height: 37.2px;
    }

}

@media (max-width:321px) {

    .right__text {
        padding-bottom: 0.8rem;
        line-height: 22px;
    }

    .st {
        line-height: 36.2px;
        font-size: 1.6rem;
    }

    .footer {

        &__bottom-left {
            padding-bottom: 21px;
        }

        &__bottom-right-text {
            font-size: 13px;
        }

        &__bottom-right-text::after {
            top: 31px;
            right: 2px;
        }

        &__input {
            padding-bottom: 6px;
            font-size: 0.7rem;
            width: 100%;
        }

        &__top {
            height: 16.3rem;
        }
    }
}