.header {
    height: 112px;
    width: 100%;

    padding-top: 2.3rem;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    &__inner {
        display: flex;
        align-items: center;
        background: white;

        justify-content: space-between;
    }

    &__inner-nav {
        display: flex;
        align-items: center;
    }

    &__link {
        display: block;
        padding: 10px 0 10px;
    }
}

@media (max-width: 1050px) {

    .header {
        padding-top: 1.3rem;

        &__inner {
            justify-content: space-between;
        }

        &__inner-nav {
            display: none;
            position: absolute;
            top: 100%;
            width: 100%;
            height: auto;
            min-height: calc(100vh - 63px);
            left: 0;
            right: 0;
    
            flex-direction: column;
    
            background: white;
            opacity: .85;
            z-index: 1;
            text-align: right;
    
            padding-right: 1.2rem;
            color: black;
            gap: 0;

            transform: translateX(100%);
            transition: all 1s ease-out;
        }

        &__inner-nav.show {
            display: block;
            transform: translateX(0);
        }
    }
}




@media (max-width:769px) {
    .header {
        padding-top: 0;
        height: 62px;
    }
}