.location {

    padding-bottom: 100px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__inner-adress {
        max-width: 40%;
    }

    &__inner-countries {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        max-width: 60%;
        gap: 60px;
    }
}

.text.location__text::after{
    left: 94px;
}

.locol-title{
    padding: 0 0 24px;
    font-size: 2rem;
    line-height: 46.4px;
}
.adress {
    font-size: 1.33rem;
    font-weight: 600;
    line-height: 33.6px;
    color: $darcgray;

    padding-bottom: 30px;
}

.adress.adress--email,
.adress.adress--phone {
    padding: 39px 0 10px;
}

@media (max-width:737px) {

    .location {
        padding: 26px 0 100px;
    }
}

@media (max-width:415px) {
    
    .location {
        &__inner {
            flex-direction: column;
        }

        &__inner-adress {
            max-width: 100%;
        }

        &__inner-countries {
            max-width: 100%;
            gap: 17px;
        }
    }

    .adress.adress--email,
    .adress.adress--phone {
        padding: 17px 0 10px;
    }
}

@media (max-width:321px) {

    .location {
        padding-bottom: 34px;
    }

    .location__inner-countries {
        display: block;
    }

    .country {
        padding-bottom: 10px;
    }
}
