.miniroom {

    padding-bottom: 100px;

    &__inner-text {
        display: flex;
        gap: 32px;
    }

    &__left {
    }

    &__title {
        font-size: 1.33rem;
        font-weight: 600;
        line-height: 33.6px;
        color: $darcgray;

        padding-bottom: 24px;
    }

    &__text {
        padding-bottom: 30px;
    }

    &__describe {
        display: flex;
        gap: 80px;
    }

    &__img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        'miniroom__img-1 miniroom__img-2'
         'miniroom__img-3 miniroom__img-3'
         'miniroom__img-4 miniroom__img-5';
        gap: 24px;
    }

    &__img-1 {
        grid-area: miniroom__img-1;
    }

    &__img-2 {
        grid-area: miniroom__img-2;
    }

    &__img-3 {
        grid-area: miniroom__img-3;
    }

    &__img-4 {
        grid-area: miniroom__img-4;
    }

    &__img-5 {
        grid-area: miniroom__img-5;
    }
}
