.nav {
    display: flex;
    gap: 65px;
    color: $darcgray;
    padding-right: 3.2rem;

    margin-left: auto;

    &__link {
        font-size: .88rem;

        transition: text-shadow .2s, color .2s, background-color .2s linear;
    }

    &__link:hover {
        text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    }

    &__link.active {
        background-color: rgb(99, 74, 227);
        color: white;
    }

    &__link.active.nav__link:hover{
        font-weight: 400;
    }
}

@media (max-width: 964px) {

    .nav--btn {
        display: inline-block;
        margin-left: auto;
    }

    .nav {
        display: block;
        justify-content: flex-end;
        padding-right: 0;

        &__link {
            display: block;
            width: 100%;

            padding: 10px 0 10px;
        }
    }
}