.text.portofolio__text::after {
    left: 117px;
}

.portofolio {
    padding-bottom: 160px;

    &__inner {
        display: flex;
        gap: 94px;
    }

    &__title {
        font-size: 1.33rem;
        font-weight: 600;
        line-height: 33.6px;
        color: $darcgray;

        padding-bottom: 20px;
    }

    &__img {
        padding-bottom: 112px;
    }
}

.inner {
    padding-bottom: 40px;

    &__right {
        position: relative;

        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;

        margin-bottom: 93px;
    }

    &__right-person {
        display: flex;
        align-items: center;
        max-width: 276px;
        height: 90px;
        gap: 20px;

        position: absolute;
        left: -154px;
        top: 7%;

        padding: 0 15px;

        background-color: #fff;
    }

    &__right-text {
        line-height: 28px;
        padding-bottom: 40px;
    }

    &__right-person-reverse {
        left: 132px;
        width: 250px;
    }

    &__left-img {
        width: auto;
    }
}

.reverse {
    flex-direction: row-reverse;

}

.person-icon {
    width: 51px;
    height: 56px;
}

.person-name {
    font-weight: 600;
    line-height: 25.2px;
    color: $black;
}