.designer {

    padding: 112px 0;

    &__blog {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    &__blog-item {
        position: relative;
        width: 282px;
        height: 400px;
        background-color: $PrimaryBlue;
    }

    &__blog-info {
        display: flex;

        position: absolute;
        bottom: 0;

        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: #fff;

        height: 96px;
        width: 258px;

        margin: 0 0 12px 12px;
        padding: 17px 58px 17px 16px;
    }

    &__name {
        font-size: 1.33rem;
        font-weight: 600;
        line-height: 33.6px;
        color: $darcgray;
    }

    &__prof {
        font-size: 0.88rem;
        color: $gray;
    }
}

.text.designer-text::after {
    left: 88px;
}

.img-blog {
    position: absolute;
    display: block;
    bottom: 0;
}

@media (max-width:569px) {
    .designer__blog {
        justify-content: center;
    }
}
