<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

    <div class="page">
            {{> header }}

        <main class="main">
            <div class="container">
                {{> body }}
            </div>
        </main>
            {{> footer }}

    </div>
    <!-- <script src="../assets/js/jquery-3.6.4.min.js"></script> -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.4.min.js"></script>
    <script src="../assets/js/aos.js"></script>
    <script src="../assets/js/aosinit.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="../assets/js/app.js"></script>
</body>
</html>
